.datePickerContainer {
  height: 40px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 614px) {
  .datePickerContainer {
    margin: 20px 4vw 0;
  }
}