.headerContainer {
  height: 70px; 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  position: sticky;
  top:0;
  background-color: rgba(246, 246, 247, 1);
  opacity: 100%;
  z-index: 999;
  border: none;
}

.title {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}