.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  justify-content: space-between;
  align-items: center;
  width: 614px;
  margin: 0 10vw 20px;
}

@media (max-width: 614px) {
  .main {
    width: 100%;
    margin: 0 4vw 20px;
  }
}